/* challenge1 */
.nav {
  display: flex;
  background: lightblue;
  padding: 10px;
}

.nav div {
  margin-right: 20px;
  padding: 10px;
  background: white;
}

/* challenge2 */
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: lightgray;
}

/* challenge3 */
.container {
  display: flex;
}

.box {
  flex: 1;
  padding: 20px;
  margin: 5px;
  background: orange;
  text-align: center;
}

