/* Fix overflow issues */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #e5e7eb;
}

/* Container */

.container {
  width: 340px;
  margin: 3rem auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

/* Cards */

.card {
  background: #6366f1;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

/* Secondary card */

.card--secondary {
  background: #f59e0b;
}

/* Button */

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #4338ca;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
