/* Challenge 1 */
/* Desktop */
.navbar {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
/* mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .actions {
    justify-content: center;
  }
}
