/* Challenge 1 */
/* Desktop */
.navbar {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
/* mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .actions {
    justify-content: center;
  }
}

/* challenge2 */
.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
}

/* challenge3 */
.pricing {
  display: flex;
  gap: 20px;
}

.plan {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plan button {
  margin-top: auto;
}

.plan.popular {
  transform: scale(1.05);
}
