* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1b7b7;
  width: 100vw;
  height: 100vh;
}

.box {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
