* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #fff;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: #0099ff;
  margin: 1rem;
  padding: 0.7rem;
  width: 80px;
  height: 50px;
  color: white;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  padding: 0.7rem;
}

li {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1b7b7;
  width: 100vw;
  height: 100vh;
}

.box {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
