*{
    margin: 0;
    padding: 0;
    background-color: white;
}
h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}h3{color: white}

p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
#conflict{
    background-color: red;
    color: white;
}
#repository {
    background-color: blue;
    color: white;
}